.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background-color: #000;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;

}


.spline-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

}


.spline-background canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}



.hero-content {
  max-width: 800px;
  z-index: 2;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-title span {
  color: var(--primary-color);
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.cta-button {
  background-color: var(--primary-color);
  color: black;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0aa53d;
}

.cta-icon {
  font-size: 1rem;
}
